<!--Barra de Navegacion-->
<app-navbar></app-navbar>

<div class="container-fluid animated fadeInUp">

    <!--Filtros de Búsqueda -->
    <div class="card my-4">
        <h5 class="card-header"> <i class="fa fa-search" aria-hidden="true"></i> Filtros de Búsqueda </h5>
        <div class="row card-block">
            <div id="destino" class=" col-md-3 col-xs-12">
                <label> <i class="fa fa-university" aria-hidden="true"></i> Sede de destino</label>
                <select class="form-control">            <!--Facultades-->
                    <optgroup label="Sedes">
                    <option value="Aduanilla de Paiba">Aduanilla de Paiba</option>
                    <option value="Calle 34">Calle 34</option>
                    <option value="Calle 40 (Edificio Administrativo)">Calle 40 (Edificio Administrativo)</option>
                    <option value="Calle 40 (Facultad de Ingeniería)">Calle 40 (Facultad de Ingeniería)</option>
                    <option value="Calle 64">Calle 64</option>
                    <option value="Edificio Villa Esther Desarrollo Físico y SGA/PIGA">Edificio Villa Esther Desarrollo Físico y SGA/PIGA</option>
                    <option value="Edificio UGI">Edificio UGI</option>
                    <option value="El Tibar">El Tibar</option>
                    <option value="Emisora LAUD 90.4 F.M">Emisora LAUD 90.4 F.M</option>
                    <option value="IDEXUD">IDEXUD</option>
                    <option value="ILUD - San Luis Calle 58 ILUD">ILUD - San Luis Calle 58 ILUD</option>
                    <option value="ILUD - Virrey ILUD">ILUD - Virrey ILUD</option>
                    <option value="ILUD Rebeca">ILUD Rebeca</option>
                    <option value="Luis A. Calvo">Luis A. Calvo</option>
                    <option value="Macarena A">Macarena A</option>
                    <option value="Macarena B">Macarena B</option>
                    <option value="Palacio de la Merced">Palacio de la Merced</option>
                    <option value="Porvenir">Porvenir</option>
                    <option value="Sótanos">Sótanos</option>
                    <option value="Tecnológica">Tecnológica</option>
                    <option value="Vivero">Vivero</option>
                    </optgroup>
                </select>
            </div>
            <div class=" col-md-3 col-xs-12">
                <label> <i class="fa fa-briefcase" aria-hidden="true"></i> Hospedan a</label>
                <select class="form-control" id="tipoPerfil">
                <!--Perfil-->
                <option>Mujer</option>
                <option>Hombre</option>
                <option>Indiferente</option>
            </select>
            </div>

            <div class=" col-md-3 col-xs-12 ">
                <label> <i class="fa fa-coffee" aria-hidden="true"></i> Tipo de Alojamiento</label>
                <!--tipos de alojamiento-->
                <select class="form-control" id="tipoAlojamiento">
                    <option>Casa Familiar</option>
                    <option>Apartaestudio</option>
                    <option>Duplex</option>
                    <option>Conjunto Residencial de Casas</option>
                    <option>Conjunto Residencial de Apartamentos</option>
                </select>
            </div>
            <div class=" col-md-3 col-xs-12">
                <label> <i class="fa fa-bed" aria-hidden="true"></i> Habitación </label>
                <select class="form-control" id="tipoHabitacion">
                    <option>Individual</option>
                    <option>Compartida</option>
                 </select>
            </div>
        </div>
    </div>
    <!--/Filtros de Búsqueda -->
    <div class="row ">
        <div class="col-lg-12">
            <!-- Card Columns Example Social Feed -->
            <div class="card-columns">


                <!--<div class="card" *ngFor="let alojamiento of alojamientos.alojamientosGaleria">-->
                <div class="card" *ngFor="let alojamiento of alojamientos | paginate: { itemsPerPage: 10, currentPage: p }">

                    <img class="card-img-top img-fluid w-100 " [src]="alojamiento.imagenes.imgFachada |imagen: 'alojamiento' " alt=" ">
                    <div id="descripcion " class="card-block ">
                        <h6 class="card-title text-primary "> {{alojamiento.estudiante.email}} </h6>
                        <p class="card-text small ">
                            {{alojamiento.propiedadesAlojamiento.descripcionAlojamiento}}
                        </p>
                    </div>
                    <hr class="my-0 ">
                    <div class="card-block small ">
                        <div class="row ">
                            <div class="col-lg-6 ">
                                <i class="fa fa-university "></i> {{alojamiento.sedeCercana}}
                            </div>
                            <div class="col-lg-6 ">
                                <i class="fa fa-users "></i> {{alojamiento.normasAlojamiento.horaLlegada}}
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-lg-6 ">
                                <i class="fa fa-info-circle "></i> {{alojamiento.tipoVivienda}}
                            </div>
                            <div class="col-lg-6 ">
                                <i class="fa fa-bed "></i> {{alojamiento.tipoHabitacion}}
                            </div>
                        </div>
                        <br>
                        <button (click)="buscarAlojamiento(alojamiento) " class="btn btn-success btn-block ">
                        <i class="fa fa-search-plus "></i> Ver más...
                      </button>

                    </div>
                    <div class="card-footer small text-muted ">
                        Publicado: {{alojamiento.propiedadesAlojamiento.fechaPublicacionAlojamiento}}
                    </div>
                </div>
                <!-- /Card Columns -->
            </div>
        </div>
    </div>
    <br>

    <div id="paginacion " class="paginacion">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
        <!-- <pagination-controls (pageChange)="p=$ event" maxSize="10 " previousLabel="Anterior " nextLabel="Siguiente " screenReaderPaginationLabel="Paginación " screenReaderPageLabel="Página " screenReaderCurrentLabel="Página Actual ">
        </pagination-controls>-->
    </div>
</div>
<!-- /.container-fluid -->