<div class="container-fluid animated fadeInUp jumbotron">
    <h1 class="text-h1">
        <i class="fa fa-home"></i> Imágenes del Alojamiento </h1>
    <hr class="my-4">
    <div class="form-group row">
        <legend>
            <i class="fa fa-camera text-warning "></i> Espacios del Alojamiento</legend>
        <div class="alert alert-danger " role="alert ">
            <strong>Atención!</strong> por favor sube las fotos de tu alojamiento, en el orden que se específica
        </div>
        <!--
        <div class="row ">
            <label for="imgHabitacion" class="col-lg-4 control-label"> Habitación del Estudiante Visitante </label>
            <div class="col-lg-8">
                <input (change)="seleccionImagenHabitacion($event.target.files[0])" type="file" class="form-control-file" id="imgHabitacion" required>

            </div>
        </div>

        <div class="row ">
            <label for="imgFachada" class="col-lg-4 control-label"> Fachada del Alojamiento </label>
            <div class="col-lg-8">
                <input (change)="seleccionImagenFachada($event.target.files[0])" type="file" class="form-control-file" id="imgFachada" required>
            </div>
        </div>-->

        <div class="row ">
            <label for="imgSala" class="col-lg-4 control-label"> Sala del Alojamiento </label>
            <div class="col-lg-8 ">
                <input (change)="seleccionImagenSala($event.target.files[0])" type="file" class="form-control-file" id="imgSala" required>
            </div>
        </div>

        <!--
        <div class="row ">
            <label for="imgCocina" class="col-lg-4 control-label"> Cocina del Alojamiento </label>
            <div class="col-lg-8 ">
                <input (change)="seleccionImagenCocina($event.target.files[0])" type="file" class="form-control-file" id="imgCocina" required>
            </div>
        </div>

        <div class="row ">
            <label for="imgBanio " class="col-lg-4 control-label"> Baño del Alojamiento </label>
            <div class="col-lg-8 ">
                <input (change)="seleccionImagenBanio($event.target.files[0])" type="file" class="form-control-file" id="imgBanio" required>
            </div>
        </div>
        <hr>
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="condiciones">
                <label class="form-check-label" for="gridCheck">Acepta las Condiciones</label>
            </div>
        </div>-->
        <div class="form-group row ">
            <label class="col-8 col-form-label ">&nbsp;</label>
            <div class="input-group col-md-4 ">
                <button (clik)="cambiarImagen()" [disabled]="!imgSala" type="button" class="btn btn-primary text-right ">
                        Siguiente
                    </button>
            </div>
        </div>
    </div>
</div>