<div class="container-fluid animated fadeInUp">
    <h1 class="text-h1"><i class="fa fa-users"></i> &nbsp; Solicitudes Radicadas </h1>
    <hr class="my-4">

    <div class="card my-4">
        <h5 class="card-header"> <i class="fa fa-search" aria-hidden="true"></i> Filtros de Búsqueda </h5>
        <div class="row card-block">
            <div id="destino" class=" col-md-3 col-xs-12">
                <label> <i class="fa fa-university" aria-hidden="true"></i> Sede de destino</label>
                <select class="form-control">            <!--Facultades-->
                    <optgroup label="Facultades">
                        <option value="Artes(ASAB)">Artes(ASAB)</option>
                        <option value="Ciencias y Educación">Ciencias y Educación</option>
                        <option value="Ingeniería">Ingeniería</option>
                        <option value="Medio Ambiente">Medio Ambiente</option>
                        <option value="Tecnológica">Tecnológica</option>
                    </optgroup>
                    <!--Otras sedes-->
                    <optgroup label="Otras Sedes">
                        <option value="Academia Luis A. Calvo">Academia Luis A. Calvo</option>
                        <option value="Auduanilla de Paiba">Aduanilla de Paiba</option>
                        <option value="Bosa">Bosa</option>
                        <option value="Calle 34">Calle 34</option>
                        <option value="CERI">CERI</option>
                        <option value="CIDC">CIDC</option>
                        <option value="IPAZUD">IPAZUD</option>
                        <option value="IEIE">IEIE</option>
                    </optgroup>
                    <!--Sedes ILUD-->
                    <optgroup label="ILUD">
                        <option value="i">Sede 1</option>
                        <option value="i">Sede 2</option>
                        <option value="i">Sede 3</option>
                    </optgroup>
                </select>
            </div>
            <div class=" col-md-3 col-xs-12">
                <label> <i class="fa fa-briefcase" aria-hidden="true"></i> Hospedan a</label>
                <select class="form-control" id="tipoPerfil">
                <!--Perfil-->
                <option>Mujer</option>
                <option>Hombre</option>
                <option>Indiferente</option>
            </select>
            </div>

            <div class=" col-md-3 col-xs-12 ">
                <label> <i class="fa fa-toggle-off" aria-hidden="true"></i> Estado Alojamiento</label>
                <!--tipos de alojamiento-->
                <select class="form-control" id="estadoAlojamiento">
                    <option>Ocupado</option>
                    <option>Disponible</option>
                </select>
            </div>
            <div class=" col-md-3 col-xs-12">
                <label> <i class="fa fa-flag" aria-hidden="true"></i> Estado Publicación </label>
                <select class="form-control" id="estadoPublicacionAlojamiento">
                    <option>En Estudio</option>
                    <option>Rechazado</option>
                    <option>Aceptado</option>
                 </select>
            </div>
        </div>
    </div>

    <div class="card indicadores">
        <div class="card-body">
            <div class="row m-t-40">
                <!-- Column -->
                <div class="col-md-6 col-lg-3 col-xlg-3">
                    <div class="card">
                        <div class="box bg-info text-center">
                            <h1 class="font-light text-white">2,064</h1>
                            <h6 class="text-white">Total Alojamientos</h6>
                        </div>
                    </div>
                </div>
                <!-- Column -->
                <div class="col-md-6 col-lg-3 col-xlg-3">
                    <div class="card">
                        <div class="box morado text-center">
                            <h1 class="font-light text-white">1,738</h1>
                            <h6 class="text-white">Alojamientos Disponibles</h6>
                        </div>
                    </div>
                </div>
                <!-- Column -->
                <div class="col-md-6 col-lg-3 col-xlg-3">
                    <div class="card">
                        <div class="box verde text-center">
                            <h1 class="font-light text-white">1100</h1>
                            <h6 class="text-white">Alojamientos Aprobados</h6>
                        </div>
                    </div>
                </div>
                <!-- Column -->
                <div class="col-md-6 col-lg-3 col-xlg-3">
                    <div class="card">
                        <div class="box bg-dark text-center">
                            <h1 class="font-light text-white">964</h1>
                            <h6 class="text-white">Alojamientos por Aprobar</h6>
                        </div>
                    </div>
                </div>
                <!-- Column -->
            </div>



        </div>
    </div>

    <br>



    <div class="table-responsive">
        <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Estudiante</th>
                    <th>Facultad</th>
                    <th>Estado</th>
                    <th>Aprobar</th>
                    <th>Ver Alojamiento</th>

                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Tiger Nixon</td>
                    <td>System Architect</td>
                    <td><span class="badge badge-pill badge-danger">Warning</span></td>
                    <td>61</td>
                    <td>2011/04/25</td>

                </tr>
                <tr>
                    <td>Garrett Winters</td>
                    <td>Accountant</td>
                    <td>Tokyo</td>
                    <td>63</td>
                    <td>2011/07/25</td>

                </tr>
                <tr>
                    <td>Ashton Cox</td>
                    <td>Junior Technical Author</td>
                    <td>San Francisco</td>
                    <td>66</td>
                    <td>2009/01/12</td>

                </tr>
                <tr>
                    <td>Cedric Kelly</td>
                    <td>Senior Javascript Developer</td>
                    <td>Edinburgh</td>
                    <td>22</td>
                    <td>2012/03/29</td>

                </tr>

            </tbody>
        </table>
    </div>

    <!--Ventana Emergente Condiciones-->
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="rechazo">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-danger"> <i class="fa fa-exclamation-triangle"></i> Motivo de Rechazo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
         <span aria-hidden="true">&times;</span>
       </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-6">
                            <img src="assets/img/rechazo.png" align="center" alt="">
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="exampleTextarea">Describa el motivo por el cual fue rechazado el alojamiento</label>
                                <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                            </div>
                        </div>
                    </div>



                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-info btn-xs"> <i class="fa fa-send"></i> Enviar</button>
                    <button type="button" class="btn btn-danger btn-xs" data-dismiss="modal"> <i class="fa fa-window-close"></i> Cerrar</button>

                </div>
            </div>
        </div>
    </div>