<div class="container-fluid animated fadeInUp">
    <div class="row">
        <div class="col-md-8">
            <h1 class="text-h1"><i class="fa fa-users"></i> &nbsp; Solicitudes Radicadas </h1>
        </div>
        <div class="col-md-4">
            <input #input (keyup)="buscar(input.value)" class="form-control mr-sm-2" type="text" placeholder="&#xF002; Buscar Estudiante ... " style="font-family: FontAwesome, Montserrat; font-style: normal">
        </div>
    </div>
    <hr class="my-4">
    <div class="card my-4">
        <h5 class="card-header"> <i class="fa fa-search" aria-hidden="true"></i> Filtros de Búsqueda </h5>
        <div class="row card-block">
            <div id="destino" class=" col-md-3 col-xs-12">
                <label> <i class="fa fa-university" aria-hidden="true"></i> Sede de destino</label>
                <select class="form-control">            <!--Facultades-->
                    <optgroup label="Sedes">
                    <option value="Aduanilla de Paiba">Aduanilla de Paiba</option>
                    <option value="Calle 34">Calle 34</option>
                    <option value="Calle 40 (Edificio Administrativo)">Calle 40 (Edificio Administrativo)</option>
                    <option value="Calle 40 (Facultad de Ingeniería)">Calle 40 (Facultad de Ingeniería)</option>
                    <option value="Calle 64">Calle 64</option>
                    <option value="Edificio Villa Esther Desarrollo Físico y SGA/PIGA">Edificio Villa Esther Desarrollo Físico y SGA/PIGA</option>
                    <option value="Edificio UGI">Edificio UGI</option>
                    <option value="El Tibar">El Tibar</option>
                    <option value="Emisora LAUD 90.4 F.M">Emisora LAUD 90.4 F.M</option>
                    <option value="IDEXUD">IDEXUD</option>
                    <option value="ILUD - San Luis Calle 58 ILUD">ILUD - San Luis Calle 58 ILUD</option>
                    <option value="ILUD - Virrey ILUD">ILUD - Virrey ILUD</option>
                    <option value="ILUD Rebeca">ILUD Rebeca</option>
                    <option value="Luis A. Calvo">Luis A. Calvo</option>
                    <option value="Macarena A">Macarena A</option>
                    <option value="Macarena B">Macarena B</option>
                    <option value="Palacio de la Merced">Palacio de la Merced</option>
                    <option value="Porvenir">Porvenir</option>
                    <option value="Sótanos">Sótanos</option>
                    <option value="Tecnológica">Tecnológica</option>
                    <option value="Vivero">Vivero</option>
                    </optgroup>
                </select>
            </div>
            <div class=" col-md-3 col-xs-12">
                <label> <i class="fa fa-briefcase" aria-hidden="true"></i> Hospedan a</label>
                <select class="form-control" id="tipoPerfil">
                <!--Perfil-->
                <option value="Mujer">Mujer</option>
                <option value="Hombre">Hombre</option>
                <option value="Indiferente">Indiferente</option>
            </select>
            </div>

            <div class=" col-md-3 col-xs-12 ">
                <label> <i class="fa fa-toggle-off" aria-hidden="true"></i> Estado Alojamiento</label>
                <!--tipos de alojamiento-->
                <select class="form-control" id="estadoAlojamiento">
                    <option value="Ocupado">Ocupado</option>
                    <option value="Disponible">Disponible</option>
                </select>
            </div>
            <div class=" col-md-3 col-xs-12">
                <label> <i class="fa fa-flag" aria-hidden="true"></i> Estado Publicación </label>
                <select class="form-control" id="estadoPublicacionAlojamiento">
                    <option value="En Estudio">En Estudio</option>
                    <option value="Rechazado">Rechazado</option>
                    <option value="Aceptado">Aceptado</option>
                 </select>
            </div>
        </div>
    </div>

    <div class="card indicadores">
        <div class="card-body">
            <div class="row m-t-40">
                <!-- Column -->
                <div class="col-md-6 col-lg-3 col-xlg-3">
                    <div class="card">
                        <div class="box bg-info text-center">
                            <h1 class="font-light text-white">{{totalAlojamientos}}</h1>
                            <h6 class="text-white">Total Alojamientos</h6>
                        </div>
                    </div>
                </div>
                <!-- Column -->
                <div class="col-md-6 col-lg-3 col-xlg-3">
                    <div class="card">
                        <div class="box morado text-center">
                            <h1 class="font-light text-white">{{totalAlojamientosDisponibles}}</h1>
                            <h6 class="text-white">Alojamientos Disponibles</h6>
                        </div>
                    </div>
                </div>
                <!-- Column -->
                <div class="col-md-6 col-lg-3 col-xlg-3">
                    <div class="card">
                        <div class="box verde text-center">
                            <h1 class="font-light text-white">{{totalAlojamientosAprobados}}</h1>
                            <h6 class="text-white">Alojamientos Aprobados</h6>
                        </div>
                    </div>
                </div>
                <!-- Column -->
                <div class="col-md-6 col-lg-3 col-xlg-3">
                    <div class="card">
                        <div class="box bg-dark text-center">
                            <h1 class="font-light text-white">{{totalAlojamientosPorAprobar}}</h1>
                            <h6 class="text-white">Alojamientos por Aprobar</h6>
                        </div>
                    </div>
                </div>
                <!-- Column -->
            </div>



        </div>
    </div>

    <br>




    <div class="table-responsive">
        <table class="display nowrap table table-hover table-striped table-bordered table-responsive" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="text-center"> <i class="fa fa-cog "></i> </th>
                    <th>Estudiante</th>
                    <th>Sede Cercana</th>
                    <th>Publicación</th>
                    <th>Estado del Alojamiento </th>
                </tr>
            </thead>

            <tbody>

                <tr *ngFor="let alojamiento of alojamientos">
                    <td class="text-center">
                        <button (click)="buscarAlojamiento(alojamiento)" class="btn btn-success">
                        <i class="fa fa-search-plus"></i>
                      </button>
                        <button (click)="borrarAlojamiento(alojamiento)" class="btn btn-danger">
                        <i class="fa fa-trash-o"></i>
                      </button>
                    </td>
                    <td>{{ alojamiento.estudiante.email }}</td>
                    <td>{{ alojamiento.sedeCercana }}</td>
                    <td class="text-center">
                        <span *ngIf="alojamiento.propiedadesAlojamiento.estadoPublicacionAlojamiento==='En estudio'" class="badge badge-pill badge-primary">{{ alojamiento.propiedadesAlojamiento.estadoPublicacionAlojamiento }}</span>
                        <span *ngIf="alojamiento.propiedadesAlojamiento.estadoPublicacionAlojamiento==='Aceptado'" class="badge badge-pill badge-success">{{ alojamiento.propiedadesAlojamiento.estadoPublicacionAlojamiento }}</span>
                        <span *ngIf="alojamiento.propiedadesAlojamiento.estadoPublicacionAlojamiento==='Rechazado'" class="badge badge-pill badge-danger">{{ alojamiento.propiedadesAlojamiento.estadoPublicacionAlojamiento }}</span>
                    </td>
                    <td>
                        <div class="input-group">
                            <select [(ngModel)]="alojamiento.propiedadesAlojamiento.estadoAlojamiento" name="estadoAlojamiento" class="form-control">
                                    <option value="Disponible">Disponible</option>
                                    <option value="Ocupado">Ocupado</option>
                            </select> &nbsp;
                            <button (click)="actualizarEstadoAlojamiento(alojamiento)" class="btn btn-primary">
                                     <i class="fa fa-save"></i>
                        </button>
                        </div>

                    </td>
                </tr>
            </tbody>
        </table>
        <br>
    </div>
    <div class="footerNavWrap clearfix">
        <button (click)="cambiarDesde(-5)" class="btn btn-info pull-left btn-fyi"> <i class="fa fa-angle-double-left"></i> Anteriores  </button>
        <button (click)="cambiarDesde(5)" class="btn btn-info pull-right btn-fyi"> Siguientes <i class="fa fa-angle-double-right"></i> </button>
    </div>

    <br>
</div>