<div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title titulo"> <i class="fa fa-users"></i> Estudiantes </h4>
                <div class="alert alert-warning " role="alert ">
                    <strong> <i class="fa fa-warning"></i>  Atención!</strong> Aquí podrás visualizar todos los estudiantes que pertenecen a una sede que concuerda con tu criterio de búsqueda.
                </div>
                <table class="table table-responsive table-bordered table-striped table-hover">
                    <thead>
                        <tr class="encabezadoEstudiantes">
                            <td>Email</td>
                            <td>Sede</td>
                        </tr>

                    </thead>
                    <tbody>
                        <tr *ngFor="let estudiante of estudiantes">
                            <td> {{estudiante.email}}</td>
                            <td> {{estudiante.perteneceA}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title titulo"> <i class="fa fa-home"></i> Alojamientos</h4>
                <div class="alert alert-warning " role="alert ">
                    <strong> <i class="fa fa-warning"></i>  Atención!</strong> Aquí podrás visualizar todos los alojamientos Disponibles y aceptados que concuerdan, con los siguientes criterios de búsqueda:
                    <ul>
                        <li>Sede Cercana</li>
                        <li>Tipo de Persona a la que hospedan</li>
                        <li>Tipo de Vivienda</li>
                        <li>Tipo de Habitación</li>
                    </ul>
                </div>
                <table class="table table-responsive table-bordered table-striped table-hover">
                    <thead>
                        <tr class="encabezadoAlojamientos">
                            <td>Estudiante</td>
                            <td>Zona</td>
                            <td>Hospedan A</td>
                            <td>Sede Cercana</td>
                        </tr>

                    </thead>
                    <tbody>
                        <tr *ngFor="let alojamiento of alojamientos">
                            <td> {{alojamiento.estudiante.email}}</td>
                            <td> {{alojamiento.ubicacion.zona}}</td>
                            <td> {{alojamiento.hospedanA}} </td>
                            <td> {{alojamiento.sedeCercana}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>