<div class="container-fluid animated fadeInUp jumbotron">
    <h1 class="text-h1"> <i class="fa fa-pencil"></i> Registrar Alojamiento </h1>
    <hr class="my-4">
    <br>

    <div class="form-group container-fluid">
        <div class="row">
            <label for="barrio" class="col-lg-1 control-label">Barrio </label>
            <div class="col-lg-3">
                <input type="text" class="form-control" name="barrio" id="barrio" readonly="readonly" placeholder="Kennedy" required/>
            </div>


            <label for="apellidos" class="col-lg-2 control-label">Dirección</label>
            <div class="col-lg-6">
                <input type="text" class="form-control" name="barrio" id="barrio" readonly="readonly" placeholder="Kennedy" required/>
            </div>
        </div>
        <br>
        <div class="row">
            <label for="tipoVivienda" class="col-lg-3 control-label">Tipo de alojamiento </label>
            <div class="col-lg-3">
                <select class="form-control" id="localidad" required>
                    <option>Seleccionar</option>   
                    <option>Casa familiar</option>                       
                    <option>Duplex</option>                       
                    <option>Apartamento</option>                       
                    <option>Conjunto Casas</option>                       
                    <option>Conjunto Apartamentos</option>                       
                    <option>Otro</option>                       
                </select>
            </div>


            <label for="apellidos" class="col-lg-3 control-label">El alojamiento es</label>
            <div class="col-lg-3">
                <select class="form-control" id="localidad" required>
                    <option>Seleccionar</option>  
                    <option>Arrendado</option>                       
                    <option>Propio</option>                       
                    <option>Familiar</option>                       
                    <option>Otro</option>                                           
                </select>
            </div>
        </div>
        <br>
        <div class="row">
            <label for="apellidos" class="col-lg-1 control-label">Estrato</label>
            <div class="col-lg-1">
                <input type="text" class="form-control" name="barrio" id="barrio" readonly="readonly" placeholder="1" required/>
            </div>
            <label for="apellidos" class="col-lg-3 control-label">Cantidad de Habitantes</label>
            <div class="col-lg-1">
                <input type="text" class="form-control" name="barrio" id="barrio" readonly="readonly" placeholder="1" required/>
            </div>

            <label for="apellidos" class="col-lg-1 control-label">Sede Cercana</label>
            <div class="col-lg-5">
                <select class="form-control" id="localidad" required>
                    <option>Seleccionar</option>  
                    <option>Aduanilla de Paiba</option>                       
                    <option>Calle 34</option>                       
                    <option>Calle 40 (Edificio Administrativo)</option>                       
                    <option>Calle 40 (Facultad de Ingeniería)</option>                                           
                    <option>Calle 64</option>                                           
                    <option>Edificio Villa Esther Desarrollo Físico y SGA/PIGA</option>                                           
                    <option>Edificio UGI</option>                                           
                    <option>El Tibar</option>                                           
                    <option>Emisora LAUD 90.4 F.M</option>                                           
                    <option>IDEXUD</option>                                           
                    <option>ILUD - San Luis Calle 58 ILUD</option>                                           
                    <option>ILUD - Virrey ILUD</option>                                           
                    <option>ILUD Rebeca</option>                                           
                    <option>Luis A. Calvo</option>                                           
                    <option>Macarena A</option>                                           
                    <option>Macarena B</option>                                           
                    <option>Palacio de la Merced</option>                                           
                    <option>Porvenir</option>                                           
                    <option>Sótanos</option>                                           
                    <option>Tecnológica</option>                                           
                    <option>Vivero</option>                                           
                </select>
            </div>
        </div>
        <hr>
        <legend> <i class="fa fa-i-cursor"></i> Descripción del Alojamiento</legend>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                </div>
            </div>
        </div>
        <div class="row">

            <label for="tipoVivienda" class="col-lg-4 control-label">¿Que género preferirías Alojar? </label>
            <div class="col-lg-7">
                <select class="form-control" id="localidad" required>
                    <option>Seleccionar</option>   
                    <option>Mujer</option>                       
                    <option>Hombre</option>                       
                    <option>No importa</option>                                           
                </select>
            </div>
        </div>

        <hr>
        <legend> <i class="fa fa-home"></i> Componentes del Alojamiento</legend>
        <div class="row">
            <label for="tipoVivienda" class="col-lg-5 control-label">¿Cuantas habitaciones posee el alojamiento? </label>
            <div class="col-lg-7">
                <select class="form-control" id="localidad" required>
                    <option>Seleccionar</option>   
                    <option>Mujer</option>                       
                    <option>Hombre</option>                       
                    <option>No importa</option>                                           
                </select>
            </div>
        </div>
        <br>
        <div class="row">
            <label for="tipoVivienda" class="col-lg-5 control-label">¿Cuantos baños posee el alojamiento? </label>
            <div class="col-lg-7">
                <select class="form-control" id="localidad" required>
                    <option>Seleccionar</option>   
                    <option>Mujer</option>                       
                    <option>Hombre</option>                       
                    <option>No importa</option>                                           
                </select>
            </div>
        </div>


    </div>
</div>