<div class="container-fluid animated fadeInUp">

    <div class="row">
        <div class="col-md-4">
            <input #input (keyup)="buscarEstudiante(input.value)" class="form-control mr-sm-2" type="text" placeholder="&#xF002; Buscar Estudiante ... " style="font-family: FontAwesome, Montserrat; font-style: normal">
        </div>
    </div>

    <br>

    <div class="row" *ngIf="cargando">
        <div class="col-sm-12">
            <div class="alert alert-warning text-center">
                <strong>Cargando ... </strong>
                <br>
                <i class="fa fa-refresh fa-spin fa-2x"></i>
                <br>
                <span>Espere por favor </span>
            </div>
        </div>
    </div>

    <div *ngIf="!cargando">
        <h2 class="tetx-primary"> Estudiantes Registrados ( <small>{{totalRegistros}}</small> ) </h2>

        <div class="row table-responsive" style="text-align:center;">
            <table class=" display nowrap table table-hover table-striped table-bordered table-responsive " cellspacing="0 " wwidth="100% " height="100% ">
                <thead>
                    <tr>
                        <th> <i class="fa fa-cog "></i> </th>
                        <th>Correo</th>
                        <th>Sede Cercana</th>
                        <th>Rol</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let estudiante of estudiantes ">
                        <td>
                            <button (click)="borrarEstudiante(estudiante) " class="btn btn-danger ">
                        <i class="fa fa-trash-o "></i>
                      </button>
                        </td>
                        <td> {{ estudiante.email }} </td>
                        <td> {{ estudiante.perteneceA}} </td>
                        <td> {{ estudiante.role }}</td>
                    </tr>
                </tbody>
            </table>
            <br>
        </div>


        <div class="footerNavWrap clearfix ">
            <button (click)="cambiarDesde(-5) " class="btn btn-success pull-left btn-fyi "> <i class="fa fa-angle-double-left "></i> Anteriores  </button>
            <button (click)="cambiarDesde(5) " class="btn btn-success pull-right btn-fyi "> Siguientes <i class="fa fa-angle-double-right "></i> </button>
        </div>
        <br>
    </div>