<div class="container-fluid animated fadeInUp">

    <div class="row" align="right">
        <input #input (keyup)="buscarEstudiante(input.value)" class="form-control mr-sm-2" type="text" placeholder="&#xF002; Buscar Estudiante ... " style="font-family: FontAwesome, Montserrat; font-style: normal">
    </div>

    <br>

    <div class="row" *ngIf="cargando">
        <div class="col-sm-12">
            <div class="alert alert-warning text-center">
                <strong>Cargando ... </strong>
                <br>
                <i class="fa fa-refresh fa-spin fa-2x"></i>
                <br>
                <span>Espere por favor </span>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="!cargando">
        <h2 class="tetx-primary"> Estudiantes Registrados ( <small>{{totalRegistros}}</small> ) </h2>
        <table class="table table-striped">
            <thead>
                <tr class="tabla">
                    <th>Correo</th>
                    <th>Sede Cercana</th>
                    <th>Rol</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let estudiante of estudiantes">
                    <td> {{ estudiante.email }} </td>
                    <td> {{ estudiante.perteneceA}} </td>
                    <td> {{ estudiante.role }}</td>
                    <td>
                        <button class="btn btn-danger">
                        <i class="fa fa-trash-o"></i>
                      </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <button (click)="cambiarDesde(-5)" class="btn btn-success">
                      Anteriores
                    </button>
        <button (click)="cambiarDesde(5)" class="btn btn-warning">
                      Siguientes
                    </button>
    </div>
</div>